.article-layout {
    user-select: none;
    min-width: 50vw;
}

.article-layout>.header {
    padding: 0.4rem 0.8rem;
    position: relative;
    overflow: hidden;
}

.article-layout>.header>.background {
    filter: blur(8px);
    left: -20%;
    top: -20%;
    position: absolute;
    width: 140%;
    display: none;
    z-index: -1;
}

.article-layout>.header>h1 {
    font-size: 1.5rem;
    color: #0f0f0f;
}


.article-grid-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: var(--radius);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    border: 1.5px solid transparent;
    transition: all 0.38s ease;
}

.article-grid-item:hover {
    border-color: #0f0f0f;
}

.article-grid-item>img {
    width: 100%;
    transition: transform 0.38s ease;
    display: block;
}

.article-tem:hover>img {
    transform: scale(1.1);

}

.article-grid-item>.label {
    padding: 0.8rem;
    background: #fff;
    position: relative;

}

.article-grid-item>.label>h4 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}
.article-grid-item>.label>.description {
    color: var(--primary-caption);
}