img{
    -webkit-user-drag: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type="checkbox"] {
    background: #0f0f0f;
}

input,
textarea {
    box-sizing: border-box;
    font-size: 13.5px;
    padding: 6px 10px;
    width: inherit;
    border: var(--border-input);
    color: var(--font);
    transition: all 0.25s ease;
    resize: none;
}

input::placeholder {
    color: #b2b2b2;
}

input:focus,
textarea:focus {
    box-shadow: none;
    border: 1px solid var(--primary-weak);
    outline: none;
}

input:hover,
textarea:hover {
    border: 1px solid var(--primary)
}

input:disabled {
    color: var(--font-disabled)
}

textarea.stylized,
input.stylized {
    background: #f9fafc;
    border-radius: var(--radius);
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    border: none;
    font-weight: 500;
}

textarea.stylized {
    padding: 1.2rem;
}


select {
    /* Reset Select */
    outline: 0;
    box-sizing: border-box;
    width: inherit;
    /* Personalize */
    padding: 6px 10px;
    border: var(--border-input);
    color: var(--font);
    background-color: #fff;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}


b {
    color: var(--primary);
    font-weight: 500;
}

b.danger {
    color: var(--danger);
    font-weight: 700;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: .5rem 0 0.3rem 0;
    font-size: 1rem;
}

hr {
    border-top: 1px solid var(--border-split);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 12px 20px;
}

hr.full {
    margin: 12px 0;
}

hr.no-gap {
    margin: 0;
}

ul.callout {
    transition: all 0.2s ease;
    padding: 0.9rem 1.8rem;
    border-radius: var(--radius);
    background: #f4f5f7;
    user-select: none;
    text-align: center;
    box-sizing: border-box;
}


ul.callout>li {
    text-align: left;
    color: var(--primary-caption);
    font-size: 0.9rem;
    line-height: 1.5;
}