/*
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
@import url("./layout.css");
@import url("./elements.css");
@import url("./context.css");
@import url("./color.css");
@import url("./animation.css");
@import url("./table.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

* {
  font-family: ui-sans-serif, "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /*
  font-family: "NEXON Lv2 Gothic", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
*/
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #a2a2a2;
}

html {
  overflow: hidden;
}

#app-renderer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 14px;
  transition: background 0.3s ease;
}

:root {
  /*--primary-gradient : linear-gradient(238deg, #8941e4, #6153fb);*/
  /*--primary-weak : #74849c; */
  --primary-caption: #6b7684;
  --primary-gradient: #0064ff;
  --primary: #0064ff;
  --danger: #ff4564;
  --danger-weak: #feecf0;
  --primary-deep: #004ab9;
  --primary-weak: #a8c1ea;
  --background: #f2f5f9;
  --background-primary-weak: #ebf3ff;
  --background-header: #fff;
  --background-content: #fff;
  --background-input: #fafafa;
  --background-input: #f2f5f9;
  --background-pending: #ffc73a;
  --background-loading: rgba(255, 255, 255, 0.75);
  --border: #d4dada;
  --border-split: #e2e2e2ee;
  --border-input: 1px solid #d4dada;

  --background-transparent-content: rgba(255, 255, 255, 0.91);
  --font: #333;
  --font-icon: #666;
  --font-success: rgb(105, 204, 149);

  --font-pending: #ffd56c;
  --font-warning: #cda466;
  --font-disabled: #9a9a9a;
  --font-danger: indianred;
  --button-hover: #a8c1ea30;
  --button-primary-hover: #afceff70;

  --scrollbar-width: calc(100vw - 100%);

  --padding-content: 12px 20px;
  --padding-content-variable: 15px 30px;
  --radius: 4px;
}

#app-renderer.dev {
  /*--primary-gradient : linear-gradient(238deg, #8941e4, #6153fb);*/
  /*--primary-weak : #74849c; */
  --primary-gradient: #0064ff;
  --primary: #0094e9; /*/#0064FF*/
  --primary-deep: #004ab9;
  --primary-weak: #a8c1ea;
  --background: #26292f;
  --background-header: #2b3038;
  --background-content: #2b3038;
  --background-input: #2b3038;
  --background-input-active: #7e818f80;
  --background-loading: rgba(30, 30, 30, 0.75);
  --border: #e2e2e200;
  --border-split: #666;
  --font: #ffffffcc;
  --font-icon: #cccccce6;
  --font-success: #2fb390;
  --font-warning: #ffd56c;
  --font-pending: #ffd56c;
  --font-weak: #ffffff99;
  --table-border: #6f6f6f;
  --button-hover: #ffffff10;
  --padding-content: 12px 20px;
  --padding-content-list-item: 6px 12px;
}

@media (max-width: 660px) {
  #app-renderer {
    --padding-content-variable: 12px 20px;
  }
}

.bx {
  transition: all 0.3s ease;
}

.main-contents {
  flex: 1;
  overflow: hidden;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.d-f {
  display: flex;
}

@media screen and (max-width: 540px) {
  /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
  .desktop-only {
    display: none !important;
  }
}
