table.common {
    width: 100%;
    border: none;
    border-spacing: unset;
    background: #fff;
    table-layout: fixed;
    border-radius: var(--radius);
}

table.common.opacity {
    opacity: 0.5;
}

table.common>tbody>tr>th,
table.common>tr>th {
    user-select: none;
    color: #999;
    padding: 0.6rem 0.6rem;
    background: #f7f8f9;
    opacity: 0.7;
}

table.common>tbody>tr>th.left,
table.common>tr>th.left {
    text-align: left;
}

table.common>tbody>tr>th.right,
table.common>tr>th.right {
    text-align: right;
}



table.common>tbody>tr.hover,
table.common>tr.hover {
    transition: all 0.2s ease;
    border-radius: var(--radius);
}

table.common>tbody>tr.hover:hover,
table.common>tr.hover:hover {
    background: #f8f8f8;
}

table.common>tbody>tr>td,
table.common>tr>td {
    padding: 0.4rem 0.6rem;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

table.common>tbody>tr>td.center,
table.common>tr>td.center {
    text-align: center;
}

table.common>tbody>tr>td.right,
table.common>tr>td.right {
    text-align: right;
}

table.common>tbody>tr>td.caption,
table.common>tr>td.caption {
    font-size: 0.75rem;
    color: #999;
}

table.common>tbody>tr>td.label,
table.common>tr>td.label {
    font-size: 0.8rem;
}


table.common .item>.icon {
    font-size: 1.25rem;
    padding: 1rem;
}

table.common .item>.body {
    flex: 1;
    display: flex;
    gap: 0.33rem;
    flex-direction: column;
    padding: 0.4rem;
    user-select: none;
}


table.common .placeholder {
    font-size: 1.25rem;
    font-weight: 700;
    color: #999;
    user-select: none;
    text-align: center;
    padding: 1.6rem 0 !important;
}