:root {
  --calibrateY: calc(25px);
  --floorplanRotate: 0deg;

  --mark-size: 10px;

  /* 140% */
  --transform-controller-border-size: 14px;

  /* 20% */
  --transform-controller-border-width: 2px;

  /* 120% */
  --transform-controller-dot-size: 12px;

  /* 100% */
  --transform-controller-label-font-size: 10px;

  /* 50% */
  --mark-body-size: 5px;
  /* 200% */
  --transform-controller-btn-size: 20px;
}

.floorplan-view .mark {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.75;
  overflow: visible;
  width: 0;
  height: 0;
}

.floorplan-view .mark.not-point > .mark-content {
  background: unset !important;
  border: unset !important;
}
.floorplan-view .mark > .mark-content {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow: visible;
  border: calc(var(--mark-size) * 0.2) solid #eaeaea;
  background: var(--mark-default);
  border-radius: 50%;
  width: var(--mark-size);
  height: var(--mark-size);
}
.floorplan-view .mark.previous > .mark-content {
  background: var(--mark-previous);
}
.floorplan-view .mark.previous.active > .mark-content::before {
  box-shadow: 0 0 1.5px 3px var(--mark-previous);
}
.floorplan-view .mark.previous.p-hidden:not(.active) {
  display: none;
}
.floorplan-view .mark.hidden {
  display: none;
}

.floorplan-view .mark.gray > .mark-content {
  background: #f0f0f0;
}
.floorplan-view .mark.gray.active > .mark-content::before {
  box-shadow: 0 0 1.5px 3px #f0f5f9;
}

.floorplan-view .mark.inspection > .mark-content {
  /*background: #08979d;
  */
  background: var(--mark-inspection);
}
.mark.inspection.active > .mark-content::before {
  box-shadow: 0 0 1.5px 3px var(--mark-inspection) !important;
}

.floorplan-view .mark.previous > .mark-content {
  /*background: #08979d;
  */
  background: var(--mark-previous);
}
.mark.previous.active > .mark-content::before {
  box-shadow: 0 0 1.5px 3px var(--mark-previous) !important;
}

.floorplan-view .mark.active:not(.not-point) > .mark-content {
  /*
  background: var(--mark-active-point);
  */
}
.floorplan-view .mark.active:not(.not-point) > .mark-content::before {
  content: "";
  border-radius: 50%;
  height: 400%;
  width: 400%;
  position: absolute;
  left: -150%;
  top: -150%;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1.5px 3px var(--mark-active-point);
}

.floorplan-view .mark.some-active {
  opacity: 0.2;
  z-index: 1000000;
  filter: grayscale(1);
}
.floorplan-view .mark.active {
  opacity: 1;
  z-index: 1000000;
  filter: grayscale(0);
}

.safetydiagnosis-mark {
  transform-origin: 0px 0px;
  position: absolute;
}

.safetydiagnosis-mark .transform-controller {
  position: absolute;
  user-select: none;
  box-sizing: border-box;
}

.dnd-ghost .transform-origin,
.safetydiagnosis-mark .transform-origin {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform-origin: 0px 0px;
}

.safetydiagnosis-mark .none {
  display: none !important;
}
.safetydiagnosis-mark .block {
  display: block !important;
}

.safetydiagnosis-mark .transform-origin > .border {
  position: absolute;
  border: var(--transform-controller-border-width) solid var(--mark-border);
}
.safetydiagnosis-mark .transform-controller.no-border > .transform-origin > .border {
  border-color: transparent;
}

.safetydiagnosis-mark .transform-controller.point > .label {
  top: calc((var(--transform-controller-btn-size) * 0.7));
}

.safetydiagnosis-mark .transform-controller > .label.active {
  /*
  background: rgba(0, 0, 0, 0.93);
  */
  pointer-events: none;
  opacity: 0;
}
.dnd-ghost .figure-double-arrow,
.safetydiagnosis-mark .figure-double-arrow {
  height: var(--mark-body-size);
  top: calc(var(--mark-body-size) * -0.5);
}

.safetydiagnosis-mark .mark-center {
  display: none;
  position: absolute;
  background-color: var(--mark-center);
  outline: 2px solid #f0f0f0;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.mark.previous .safetydiagnosis-mark .mark-center {
  background-color: var(--mark-previous);
}
.mark.inspection .safetydiagnosis-mark .mark-center {
  background-color: var(--mark-inspection);
}

.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .rotate {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  top: 50%;
  background-color: var(--mark-border-rotate);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 10rem;
  user-select: none;
  transform: translate(-350%, -50%);
}
.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .rotate::after {
  position: absolute;
  content: "";
  width: 301%;
  height: calc(var(--transform-controller-border-width) * 0.5);
  top: calc(50% - calc(var(--transform-controller-border-width) * 0.25));
  left: 100%;
  z-index: -1;
  background: var(--mark-border);
}

.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .left-top {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  transform: translate(-60%, -60%);
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
}
.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .top {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
}
.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .right-top {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  left: 100%;
  transform: translate(-40%, -60%);
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
}

.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .left {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  top: 50%;
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
  transform: translate(-60%, -50%);
}
.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .right {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  left: 100%;
  top: 50%;
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
  /*
  transform: translate(-40%, calc(-50% - var(--mark-body-size) / 4));
  */
  transform: translate(-40%, -50%);
}

.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .bottom-left {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  top: 100%;
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
  transform: translate(-60%, -40%);
}
.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .bottom {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
  transform: translate(-50%, -40%);
}
.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .bottom-right {
  position: absolute;
  width: var(--transform-controller-dot-size);
  height: var(--transform-controller-dot-size);
  left: 100%;
  top: 100%;
  transform: translate(-40%, -40%);
  background-color: var(--mark-border);
  border: calc(var(--transform-controller-border-width) * 1.5) solid #fff;
  border-radius: 50%;
  user-select: none;
}

.safetydiagnosis-mark .transform-controller > .transform-origin > .border > .transform-btn {
  pointer-events: all;
}

.safetydiagnosis-mark .transform-controller > .label {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: calc(100% + (var(--transform-controller-btn-size) * 0.7));
  font-size: calc(var(--transform-controller-label-font-size));
  user-select: none;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: calc(var(--transform-controller-label-font-size) * 0.3);
  color: #fff;
  font-weight: 500;
  transition: opacity 0.2s ease, background 0.2s ease;
  padding: calc(var(--transform-controller-label-font-size) * 0.25) calc(var(--transform-controller-label-font-size) * 0.4);
}

.dnd-ghost .figure-arrow-start-top,
.safetydiagnosis-mark .figure-arrow-start-top {
  position: absolute;
  width: calc(var(--mark-body-size) * 2.5);
  height: var(--mark-body-size);
  background-color: var(--primary);
  transform-origin: 0px calc(var(--mark-body-size) * 0.5);
  transform: rotate(45deg);
  left: calc(var(--mark-body-size) * 0.2);
}
.dnd-ghost .figure-arrow-start-center,
.safetydiagnosis-mark .figure-arrow-start-center {
  position: absolute;
  width: var(--mark-body-size);
  height: var(--mark-body-size);
  left: calc(var(--mark-body-size) * -0.3);
  background-color: var(--primary);
  transform: rotate(45deg);
}

.dnd-ghost .figure-arrow-start-bottom,
.safetydiagnosis-mark .figure-arrow-start-bottom {
  position: absolute;
  left: calc(var(--mark-body-size) * 0.2);
  width: calc(var(--mark-body-size) * 2.5);
  height: var(--mark-body-size);
  background-color: var(--primary);
  transform-origin: 0px calc(var(--mark-body-size) * 0.5);
  transform: rotate(-45deg);
}

.dnd-ghost .figure-arrow-end-top,
.safetydiagnosis-mark .figure-arrow-end-top {
  position: absolute;
  width: calc(var(--mark-body-size) * 2.5);
  height: var(--mark-body-size);
  background-color: var(--primary);
  transform-origin: calc(var(--mark-body-size) * 2.5) calc(var(--mark-body-size) * 0.5);
  transform: rotate(45deg);
}

.dnd-ghost .figure-arrow-end-center,
.safetydiagnosis-mark .figure-arrow-end-center {
  position: absolute;
  width: var(--mark-body-size);
  height: var(--mark-body-size);
  background-color: var(--primary);
  transform: rotate(45deg);
}

.dnd-ghost .figure-arrow-end-bottom,
.safetydiagnosis-mark .figure-arrow-end-bottom {
  position: absolute;
  width: calc(var(--mark-body-size) * 2.5);
  height: var(--mark-body-size);
  background-color: var(--primary);
  transform-origin: calc(var(--mark-body-size) * 2.5) calc(var(--mark-body-size) * 0.5);
  transform: rotate(-45deg);
}

.mark.previous .safetydiagnosis-mark .figure-arrow-start-top,
.mark.previous .safetydiagnosis-mark .figure-arrow-start-center,
.mark.previous .safetydiagnosis-mark .figure-arrow-start-bottom,
.mark.previous .safetydiagnosis-mark .figure-arrow-end-top,
.mark.previous .safetydiagnosis-mark .figure-arrow-end-center,
.mark.previous .safetydiagnosis-mark .figure-arrow-end-bottom {
  background-color: var(--mark-previous);
}

.mark.inspection .safetydiagnosis-mark .figure-arrow-start-top,
.mark.inspection .safetydiagnosis-mark .figure-arrow-start-center,
.mark.inspection .safetydiagnosis-mark .figure-arrow-start-bottom,
.mark.inspection .safetydiagnosis-mark .figure-arrow-end-top,
.mark.inspection .safetydiagnosis-mark .figure-arrow-end-center,
.mark.inspection .safetydiagnosis-mark .figure-arrow-end-bottom {
  background-color: var(--mark-inspection);
}

.safetydiagnosis-mark.active .figure-arrow-end-center,
.safetydiagnosis-mark.active .figure-arrow-start-center,
.safetydiagnosis-mark.active .figure-back,
.safetydiagnosis-mark.active .figure-arrow-start-top,
.safetydiagnosis-mark.active .figure-arrow-start-bottom,
.safetydiagnosis-mark.active .figure-arrow-end-top,
.safetydiagnosis-mark.active .figure-arrow-end-bottom {
  background-color: var(--mark-active) !important;
  opacity: 0.8;
}

.dnd-ghost .figure-back.area,
.safetydiagnosis-mark.active .figure-back.area {
  background: repeating-linear-gradient(45deg, transparent, transparent calc(var(--mark-size) * 0.6), var(--mark-active) 0, var(--mark-active) var(--mark-size)) !important;
  opacity: 0.8;
}
.safetydiagnosis-mark.active .mark-center {
  display: block;
}

.dnd-ghost .figure-back,
.safetydiagnosis-mark .figure-back {
  position: absolute;
  background: var(--primary);
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  transition: background 0.2s ease;
}

.mark.previous .safetydiagnosis-mark .figure-back {
  background: var(--mark-previous);
}
.mark.inspection .safetydiagnosis-mark .figure-back {
  background: var(--mark-inspection);
}

.safetydiagnosis-mark .figure-back.point {
  width: var(--mark-size);
  height: var(--mark-size);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.safetydiagnosis-mark .figure-back.area {
  background: repeating-linear-gradient(45deg, transparent, transparent calc(var(--mark-size) * 0.6), var(--primary) 0, var(--primary) var(--mark-size));
}
.mark.inspection .safetydiagnosis-mark .figure-back.area {
  background: repeating-linear-gradient(45deg, transparent, transparent calc(var(--mark-size) * 0.6), var(--mark-inspection) 0, var(--mark-inspection) var(--mark-size));
}
.dnd-ghost .figure-back.preview {
  background: var(--mark-guideline-shadow);
  opacity: 0.9;
}

.dnd-ghost .figure-back.preview > .figure-arrow {
  background: var(--mark-guideline-shadow);
  opacity: 0.9;
}
.dnd-ghost .figure-back.area.preview {
  background: repeating-linear-gradient(45deg, transparent, transparent calc(var(--mark-size) * 0.6), var(--mark-guideline-shadow) 0, var(--mark-guideline-shadow) var(--mark-size));
}

.safetydiagnosis-mark .rotate-guide-line {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0px 0px;
  z-index: -1;
}

.safetydiagnosis-mark .rotate-guide-line.vertical {
  width: 400vw;
  height: 0;
  border-top: 2px dashed var(--mark-guideline-rotate-primary);
  opacity: 0.5;
}
.safetydiagnosis-mark .rotate-guide-line.horizontal {
  width: 0;
  height: 400vw;
  border-left: 2px dashed var(--mark-guideline-rotate);
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
